---
import IconHeart from "../images/icon-heart.svg";
import IconCart from "../images/icon-cart.svg";
import IconCreditCard from "../images/icon-credit-card.svg";
import IconZelle from "../images/icon-zelle.png";
import PicHats from "../images/pic-hats.png";
---

<div class="wrap">
  <div class="container-inner">
    <div class="header">
      <h2>Your contribution goes toward helping local families.</h2>

      <p class="text-medium">
        Every contribution directly supports families facing difficult circumstances in our community. We provide essential assistance such as medical bills, housing expenses, and everyday necessities. By donating, you play a crucial role in ensuring that these families receive the help they need to regain stability and hope.
      </p>
    </div>

    <div class="body">
      <div class="body-title">
        <img src={IconHeart.src}>
        <h2>Make a Donation</h2>
      </div>

      <div class="actions">
        <div class="item">
          <div class="item-title">
            <img src={IconCreditCard.src}>
            <span>Credit Card</span>
          </div>

          <p class="text-medium">
            You will be redirected to a secure page hosted by Stripe.
          </p>

          <div class="action">
            <a href="https://buy.stripe.com/28o2aS5Ll2yL8bmbII" class="button">
              Click to Donate
            </a>
          </div>
        </div>

        <div class="or text-medium">
          or
        </div>

        <div class="item item-zelle">
          <div>
            <div class="item-title">
              <img src={IconZelle.src} class="zelle-image">
            </div>

            <p class="text-medium">
              Use the following email to send a donation via Zelle:
            </p>
          </div>

          <div class="email">
            friends4fitz@gmail.com
          </div>
        </div>
      </div>

      <hr class="hr">

      <div class="body-title">
        <img src={IconCart.src}>
        <h2>Purchase a Hat</h2>
      </div>

      <div class="item item-hat">
        <div class="pic">
          <img src={PicHats.src}>
        </div>

        <div class="content">
          <p class="text-medium">
            You will be redirected to a secure checkout.
          </p>

          <div class="action">
            <a href="https://stripe.com" class="button">
              Click to Purchase
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  h2 {
    margin-bottom: 8px;
  }

  .wrap {
    padding: 72px 20px;
  }

  .header {
    margin-bottom: 72px;
    max-width: 700px;
  }

  .body-title {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
  }

  .body-title h2 {
    margin: 0;
  }

  .item {
    background: #f9f9f9;
    padding: 32px;
    border-radius: 20px;
  }

  .item p {
    max-width: 300px;
    margin-bottom: 24px;
  }

  .item-title {
    display: flex;
    gap: 8px;
    margin-bottom: 4px;
  }

  .item-title span {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }

  .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 8px;
  }

  .icon {
    margin-bottom: 16px;
  }

  .button {
    background: var(--color-yellow);
    color: var(--color-black);
  }

  .actions {
    flex-wrap: wrap;
    gap: 16px;
    display: inline-flex;
    flex-direction: column;
  }

  .zelle-image {
    width: 60px;
  }

  .email {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    padding-bottom: 8px
  }

  .item-zelle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .item-hat {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .item-hat img {
    max-width: 100%;
  }

  .or {
    display: flex;
    justify-content: center;
  }

  @media (min-width: 1000px) {
    .actions {
      flex-direction: row;
      gap: 32px;
    }

    .or {
      align-items: center;
    }

    .item-hat {
      display: inline-flex;
      flex-direction: row;
      gap: 32px;
    }

    .item-hat img {
      max-width: 150px;
    }

    .item-hat p {
      max-width: 200px;
    }
  }
</style>